<IfModule mod_rewrite.c>

    RewriteEngine on
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteCond %{REQUEST_URI} !index.php

    RewriteRule ^(.*)/(.*)?$ index.php?controller=$1&action=$2
    RewriteRule ^(.*)/(.*)/(edit)$ index.php?controller=$1&action=$2&edit=edit

    #ErrorDocument 404 http://localhost/php/FrontController_TPI/error/

</IfModule>